<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--1,从类路径下加载spring的配置文件,classpath关键字特指类路径下加载 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!--2,负责启动spring容器的监听器,它将引用1处的上下文参数,获得spring配置文件的地址 -->
  <listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>

  <!--3,配置servlet-->
  <servlet>
    <servlet-name>seckill</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:seckill-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>seckill</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
